<a href="https://colab.research.google.com/github/vn322/Sport-University/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 20.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=2f78b868c4a806ecc8fee810f7e2d8135f3ec72417f587078c94791b46a860b8
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [4]:
# importing required libraries and initializing spark session
from pyspark.sql import SparkSession
import numpy as np
import pandas as pd
#create instance of spark class 
spark=SparkSession.builder.appName('project').getOrCreate()

spark

In [9]:
import pyspark.sql.functions as f
#importing the cleaned olympics dataset and creating a pyspark dataframe 
file_location = "/content/olympix_master_cleaned.csv"
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_location)
# Taking a glimpse of the pyspark dataframe created using show function
df.show()

+--------------------+----+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|                name| age|      country|year|Date_Given|              sports|gold_medal|silver_medal|brone_medal|total_medal|
+--------------------+----+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
|      Michael Phelps|23.0|United States|2008| 8/24/2008|            Swimming|         8|           0|          0|          8|
|      Michael Phelps|19.0|United States|2004| 8/29/2004|            Swimming|         6|           0|          2|          8|
|      Michael Phelps|27.0|United States|2012|08-12-2012|            Swimming|         4|           2|          0|          6|
|    Natalie Coughlin|25.0|United States|2008| 8/24/2008|            Swimming|         1|           2|          3|          6|
|       Aleksey Nemov|24.0|       Russia|2000|10-01-2000|          Gymnastics|         2|           1|          3|          6|
|       Alicia Coutts|24.0|    Australia|2012|08-12-2012|            Swimming|         1|           3|          1|          5|
|      Missy Franklin|17.0|United States|2012|08-12-2012|            Swimming|         4|           0|          1|          5|
|         Ryan Lochte|27.0|United States|2012|08-12-2012|            Swimming|         2|           2|          1|          5|
|     Allison Schmitt|22.0|United States|2012|08-12-2012|            Swimming|         3|           1|          1|          5|
|    Natalie Coughlin|21.0|United States|2004| 8/29/2004|            Swimming|         2|           2|          1|          5|
|          Ian Thorpe|17.0|    Australia|2000|10-01-2000|            Swimming|         3|           2|          0|          5|
|         Dara Torres|33.0|United States|2000|10-01-2000|            Swimming|         2|           0|          3|          5|
|       Cindy Klassen|26.0|       Canada|2006| 2/26/2006|       Speed Skating|         1|           2|          2|          5|
|       Nastia Liukin|18.0|United States|2008| 8/24/2008|          Gymnastics|         1|           3|          1|          5|
|        Marit Bjrgen|29.0|       Norway|2010| 2/28/2010|Cross Country Skiing|         3|           1|          1|          5|
|            Sun Yang|20.0|        China|2012|08-12-2012|            Swimming|         2|           1|          1|          4|
|     Kirsty Coventry|24.0|     Zimbabwe|2008| 8/24/2008|            Swimming|         1|           3|          0|          4|
|Libby LentonTrickett|23.0|    Australia|2008| 8/24/2008|            Swimming|         2|           1|          1|          4|
|         Ryan Lochte|24.0|United States|2008| 8/24/2008|            Swimming|         2|           0|          2|          4|
|      Inge de Bruijn|30.0|  Netherlands|2004| 8/29/2004|            Swimming|         1|           1|          2|          4|
+--------------------+----+-------------+----+----------+--------------------+----------+------------+-----------+-----------+
only showing top 20 rows

In [11]:
# Creating a dataframe with set of sports as sports column contains repeated values. 
df1=df.select(f.collect_set("sports"))
df1 = df1.withColumnRenamed("collect_set(sports)","Olympic_Sports/games")
df1.show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Olympic_Sports/games                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[Swimming, Beach Volleyball, Modern Pentathlon, Table Tennis, Sailing, Wrestling, Curling, Synchronized Swimming, Rhythmic Gymnastics, Athletics, Gymnastics, Ski Jumping, Rowing, Speed Skating, Ice Hockey, Weightlifting, Handball, Luge, Cycling, Biathlon, Canoeing, Softball, Snowboarding, Trampoline, Shooting, Baseball, Cross Country Skiing, Volleyball, Archery, Waterpolo, Diving, Judo, Basketball, Bobsleigh, Badminton, Equestrian, Nordic Combined, Triathlon, Hockey, Short-Track Speed Skating, Tennis, Fencing, Alpine Skiing, Skeleton, Boxing, Football, Taekwondo, Freestyle Skiing, Figure Skating]|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [12]:
df.select(f.countDistinct('sports')).show()

+----------------------+
|count(DISTINCT sports)|
+----------------------+
|                    49|
+----------------------+

In [13]:
# Counting the frequency of each distinct sports in the dataset using groupby function
df.groupBy('sports').count().show(df.count(),False)

+-------------------------+-----+
|sports                   |count|
+-------------------------+-----+
|Gymnastics               |194  |
|Tennis                   |71   |
|Boxing                   |188  |
|Short-Track Speed Skating|96   |
|Ice Hockey               |384  |
|Rowing                   |567  |
|Judo                     |224  |
|Softball                 |134  |
|Sailing                  |210  |
|Swimming                 |487  |
|Alpine Skiing            |61   |
|Basketball               |287  |
|Handball                 |351  |
|Rhythmic Gymnastics      |84   |
|Biathlon                 |94   |
|Triathlon                |24   |
|Badminton                |91   |
|Athletics                |687  |
|Figure Skating           |54   |
|Beach Volleyball         |48   |
|Equestrian               |157  |
|Shooting                 |181  |
|Diving                   |113  |
|Skeleton                 |18   |
|Ski Jumping              |40   |
|Nordic Combined          |39   |
|Wrestling                |245  |
|Speed Skating            |103  |
|Table Tennis             |67   |
|Taekwondo                |112  |
|Canoeing                 |295  |
|Weightlifting            |180  |
|Waterpolo                |306  |
|Baseball                 |216  |
|Modern Pentathlon        |24   |
|Snowboarding             |48   |
|Bobsleigh                |66   |
|Cycling                  |261  |
|Cross Country Skiing     |128  |
|Volleyball               |278  |
|Archery                  |84   |
|Synchronized Swimming    |109  |
|Curling                  |82   |
|Fencing                  |230  |
|Hockey                   |386  |
|Freestyle Skiing         |42   |
|Football                 |407  |
|Luge                     |36   |
|Trampoline               |24   |
+-------------------------+-----+

In [14]:
df2 = df.groupBy(["sports"]).sum("total_medal")
df2.orderBy('sports').show(df2.count(),False)

+-------------------------+----------------+
|sports                   |sum(total_medal)|
+-------------------------+----------------+
|Alpine Skiing            |90              |
|Archery                  |96              |
|Athletics                |753             |
|Badminton                |96              |
|Baseball                 |216             |
|Basketball               |287             |
|Beach Volleyball         |48              |
|Biathlon                 |138             |
|Bobsleigh                |72              |
|Boxing                   |188             |
|Canoeing                 |333             |
|Cross Country Skiing     |174             |
|Curling                  |82              |
|Cycling                  |306             |
|Diving                   |144             |
|Equestrian               |182             |
|Fencing                  |256             |
|Figure Skating           |54              |
|Football                 |407             |
|Freestyle Skiing         |42              |
|Gymnastics               |282             |
|Handball                 |351             |
|Hockey                   |386             |
|Ice Hockey               |384             |
|Judo                     |224             |
|Luge                     |36              |
|Modern Pentathlon        |24              |
|Nordic Combined          |54              |
|Rhythmic Gymnastics      |84              |
|Rowing                   |576             |
|Sailing                  |210             |
|Shooting                 |192             |
|Short-Track Speed Skating|138             |
|Skeleton                 |18              |
|Ski Jumping              |54              |
|Snowboarding             |48              |
|Softball                 |134             |
|Speed Skating            |140             |
|Swimming                 |765             |
|Synchronized Swimming    |129             |
|Table Tennis             |84              |
|Taekwondo                |112             |
|Tennis                   |78              |
|Trampoline               |24              |
|Triathlon                |24              |
|Volleyball               |278             |
|Waterpolo                |306             |
|Weightlifting            |180             |
|Wrestling                |245             |
+-------------------------+----------------+

In [15]:
# Creating a dataframe by grouping sports yearwise and taking total medal count for that year for that sport
df3 = df.groupBy(['year',"sports"]).sum("total_medal")
df3.orderBy('year','sports').show(df3.count(),False)

+----+-------------------------+----------------+
|year|sports                   |sum(total_medal)|
+----+-------------------------+----------------+
|2000|Archery                  |24              |
|2000|Athletics                |190             |
|2000|Badminton                |24              |
|2000|Baseball                 |72              |
|2000|Basketball               |71              |
|2000|Beach Volleyball         |12              |
|2000|Boxing                   |48              |
|2000|Canoeing                 |84              |
|2000|Cycling                  |74              |
|2000|Diving                   |36              |
|2000|Equestrian               |45              |
|2000|Fencing                  |66              |
|2000|Football                 |99              |
|2000|Gymnastics               |72              |
|2000|Handball                 |90              |
|2000|Hockey                   |96              |
|2000|Judo                     |56              |
|2000|Modern Pentathlon        |6               |
|2000|Rhythmic Gymnastics      |21              |
|2000|Rowing                   |144             |
|2000|Sailing                  |54              |
|2000|Shooting                 |51              |
|2000|Softball                 |45              |
|2000|Swimming                 |185             |
|2000|Synchronized Swimming    |31              |
|2000|Table Tennis             |18              |
|2000|Taekwondo                |24              |
|2000|Tennis                   |18              |
|2000|Trampoline               |6               |
|2000|Triathlon                |6               |
|2000|Volleyball               |67              |
|2000|Waterpolo                |77              |
|2000|Weightlifting            |45              |
|2000|Wrestling                |48              |
|2002|Alpine Skiing            |30              |
|2002|Biathlon                 |42              |
|2002|Bobsleigh                |24              |
|2002|Cross Country Skiing     |54              |
|2002|Curling                  |30              |
|2002|Figure Skating           |18              |
|2002|Freestyle Skiing         |12              |
|2002|Ice Hockey               |126             |
|2002|Luge                     |12              |
|2002|Nordic Combined          |18              |
|2002|Short-Track Speed Skating|46              |
|2002|Skeleton                 |6               |
|2002|Ski Jumping              |18              |
|2002|Snowboarding             |12              |
|2002|Speed Skating            |30              |
|2004|Archery                  |24              |
|2004|Athletics                |183             |
|2004|Badminton                |24              |
|2004|Baseball                 |72              |
|2004|Basketball               |72              |
|2004|Beach Volleyball         |12              |
|2004|Boxing                   |44              |
|2004|Canoeing                 |84              |
|2004|Cycling                  |76              |
|2004|Diving                   |36              |
|2004|Equestrian               |47              |
|2004|Fencing                  |61              |
|2004|Football                 |101             |
|2004|Gymnastics               |72              |
|2004|Handball                 |89              |
|2004|Hockey                   |96              |
|2004|Judo                     |56              |
|2004|Modern Pentathlon        |6               |
|2004|Rhythmic Gymnastics      |21              |
|2004|Rowing                   |144             |
|2004|Sailing                  |54              |
|2004|Shooting                 |51              |
|2004|Softball                 |44              |
|2004|Swimming                 |185             |
|2004|Synchronized Swimming    |33              |
|2004|Table Tennis             |18              |
|2004|Taekwondo                |24              |
|2004|Tennis                   |18              |
|2004|Trampoline               |6               |
|2004|Triathlon                |6               |
|2004|Volleyball               |70              |
|2004|Waterpolo                |76              |
|2004|Weightlifting            |45              |
|2004|Wrestling                |54              |
|2006|Alpine Skiing            |30              |
|2006|Biathlon                 |48              |
|2006|Bobsleigh                |24              |
|2006|Cross Country Skiing     |60              |
|2006|Curling                  |26              |
|2006|Figure Skating           |18              |
|2006|Freestyle Skiing         |12              |
|2006|Ice Hockey               |131             |
|2006|Luge                     |12              |
|2006|Nordic Combined          |18              |
|2006|Short-Track Speed Skating|46              |
|2006|Skeleton                 |6               |
|2006|Ski Jumping              |18              |
|2006|Snowboarding             |18              |
|2006|Speed Skating            |59              |
|2008|Archery                  |24              |
|2008|Athletics                |188             |
|2008|Badminton                |24              |
|2008|Baseball                 |72              |
|2008|Basketball               |72              |
|2008|Beach Volleyball         |12              |
|2008|Boxing                   |44              |
|2008|Canoeing                 |84              |
|2008|Cycling                  |75              |
|2008|Diving                   |36              |
|2008|Equestrian               |45              |
|2008|Fencing                  |63              |
|2008|Football                 |102             |
|2008|Gymnastics               |72              |
|2008|Handball                 |85              |
|2008|Hockey                   |98              |
|2008|Judo                     |56              |
|2008|Modern Pentathlon        |6               |
|2008|Rhythmic Gymnastics      |21              |
|2008|Rowing                   |144             |
|2008|Sailing                  |54              |
|2008|Shooting                 |45              |
|2008|Softball                 |45              |
|2008|Swimming                 |200             |
|2008|Synchronized Swimming    |32              |
|2008|Table Tennis             |24              |
|2008|Taekwondo                |32              |
|2008|Tennis                   |18              |
|2008|Trampoline               |6               |
|2008|Triathlon                |6               |
|2008|Volleyball               |72              |
|2008|Waterpolo                |77              |
|2008|Weightlifting            |45              |
|2008|Wrestling                |71              |
|2010|Alpine Skiing            |30              |
|2010|Biathlon                 |48              |
|2010|Bobsleigh                |24              |
|2010|Cross Country Skiing     |60              |
|2010|Curling                  |26              |
|2010|Figure Skating           |18              |
|2010|Freestyle Skiing         |18              |
|2010|Ice Hockey               |127             |
|2010|Luge                     |12              |
|2010|Nordic Combined          |18              |
|2010|Short-Track Speed Skating|46              |
|2010|Skeleton                 |6               |
|2010|Ski Jumping              |18              |
|2010|Snowboarding             |18              |
|2010|Speed Skating            |51              |
|2012|Archery                  |24              |
|2012|Athletics                |192             |
|2012|Badminton                |24              |
|2012|Basketball               |72              |
|2012|Beach Volleyball         |12              |
|2012|Boxing                   |52              |
|2012|Canoeing                 |81              |
|2012|Cycling                  |81              |
|2012|Diving                   |36              |
|2012|Equestrian               |45              |
|2012|Fencing                  |66              |
|2012|Football                 |105             |
|2012|Gymnastics               |66              |
|2012|Handball                 |87              |
|2012|Hockey                   |96              |
|2012|Judo                     |56              |
|2012|Modern Pentathlon        |6               |
|2012|Rhythmic Gymnastics      |21              |
|2012|Rowing                   |144             |
|2012|Sailing                  |48              |
|2012|Shooting                 |45              |
|2012|Swimming                 |195             |
|2012|Synchronized Swimming    |33              |
|2012|Table Tennis             |24              |
|2012|Taekwondo                |32              |
|2012|Tennis                   |24              |
|2012|Trampoline               |6               |
|2012|Triathlon                |6               |
|2012|Volleyball               |69              |
|2012|Waterpolo                |76              |
|2012|Weightlifting            |45              |
|2012|Wrestling                |72              |
+----+-------------------------+----------------+

In [16]:
# using orderBy to sort results and using groupby on sports with aggregate function sum on total medals 
df4 = df.groupBy("sports").sum("total_medal")
df4.orderBy('sum(total_medal)',ascending=False).show(df4.count(),False)

+-------------------------+----------------+
|sports                   |sum(total_medal)|
+-------------------------+----------------+
|Swimming                 |765             |
|Athletics                |753             |
|Rowing                   |576             |
|Football                 |407             |
|Hockey                   |386             |
|Ice Hockey               |384             |
|Handball                 |351             |
|Canoeing                 |333             |
|Waterpolo                |306             |
|Cycling                  |306             |
|Basketball               |287             |
|Gymnastics               |282             |
|Volleyball               |278             |
|Fencing                  |256             |
|Wrestling                |245             |
|Judo                     |224             |
|Baseball                 |216             |
|Sailing                  |210             |
|Shooting                 |192             |
|Boxing                   |188             |
|Equestrian               |182             |
|Weightlifting            |180             |
|Cross Country Skiing     |174             |
|Diving                   |144             |
|Speed Skating            |140             |
|Biathlon                 |138             |
|Short-Track Speed Skating|138             |
|Softball                 |134             |
|Synchronized Swimming    |129             |
|Taekwondo                |112             |
|Badminton                |96              |
|Archery                  |96              |
|Alpine Skiing            |90              |
|Rhythmic Gymnastics      |84              |
|Table Tennis             |84              |
|Curling                  |82              |
|Tennis                   |78              |
|Bobsleigh                |72              |
|Ski Jumping              |54              |
|Nordic Combined          |54              |
|Figure Skating           |54              |
|Beach Volleyball         |48              |
|Snowboarding             |48              |
|Freestyle Skiing         |42              |
|Luge                     |36              |
|Modern Pentathlon        |24              |
|Triathlon                |24              |
|Trampoline               |24              |
|Skeleton                 |18              |
+-------------------------+----------------+

In [17]:
# Filtering dataframe for swimming sport and agin using groupby on country with aggregate function sum on total medals.
df5 = df.filter(df.sports =="Swimming").select(["country",'sports',"total_medal"])
df5 = df5.groupBy("country").sum("total_medal")
df5.orderBy(f.desc("sum(total_medal)")).withColumnRenamed("sum(total_medal)","total_medal_Swimming").show(df5.count(),False)

+-------------------+--------------------+
|country            |total_medal_Swimming|
+-------------------+--------------------+
|United States      |267                 |
|Australia          |163                 |
|Netherlands        |46                  |
|Japan              |43                  |
|France             |39                  |
|China              |35                  |
|Germany            |32                  |
|Russia             |20                  |
|Italy              |16                  |
|Great Britain      |11                  |
|South Africa       |11                  |
|Sweden             |9                   |
|Hungary            |9                   |
|Brazil             |8                   |
|Ukraine            |7                   |
|Zimbabwe           |7                   |
|Romania            |6                   |
|Canada             |5                   |
|South Korea        |4                   |
|Poland             |3                   |
|Austria            |3                   |
|Tunisia            |3                   |
|Spain              |3                   |
|Norway             |2                   |
|Costa Rica         |2                   |
|Belarus            |2                   |
|Slovakia           |2                   |
|Argentina          |1                   |
|Trinidad and Tobago|1                   |
|Croatia            |1                   |
|Slovenia           |1                   |
|Lithuania          |1                   |
|Serbia             |1                   |
|Denmark            |1                   |
+-------------------+--------------------+

In [18]:
# Filtering dataframe for Skeleton sport and again using groupby on country with aggregate function sum on total medals.
df6 = df.filter(df.sports =="Skeleton").select(["country",'sports',"total_medal"])
df6 = df6.groupBy("country").sum("total_medal")
df6.orderBy(f.desc("sum(total_medal)")).withColumnRenamed("sum(total_medal)","total_medal_Skeleton").show(df6.count(),False)

+-------------+--------------------+
|country      |total_medal_Skeleton|
+-------------+--------------------+
|Canada       |4                   |
|Great Britain|3                   |
|Switzerland  |3                   |
|United States|3                   |
|Germany      |2                   |
|Russia       |1                   |
|Austria      |1                   |
|Latvia       |1                   |
+-------------+--------------------+

In [19]:
# Filtering dataframe for United States country and using groupby on year with aggregate function sum on total medals.
df7 = df.filter(df.country =="Russia").select(["country",'year',"total_medal"])
df7 = df7.groupBy("year").sum("total_medal")
df7.orderBy('year').withColumnRenamed("sum(total_medal)","total_medal_US_won").show(df7.count(),False)

+----+------------------+
|year|total_medal_US_won|
+----+------------------+
|2000|187               |
|2002|38                |
|2004|191               |
|2006|41                |
|2008|146               |
|2010|25                |
|2012|140               |
+----+------------------+

In [20]:
# Using groupby on country with aggregate function sum on total medals.
df8 = df.groupBy("country").sum("total_medal")
df8.orderBy(f.desc("sum(total_medal)")).withColumnRenamed("sum(total_medal)","total_medal_won").show(df8.count(),False)

+---------------------+---------------+
|country              |total_medal_won|
+---------------------+---------------+
|United States        |1312           |
|Russia               |768            |
|Germany              |629            |
|Australia            |609            |
|China                |530            |
|Canada               |370            |
|Italy                |331            |
|Great Britain        |322            |
|France               |318            |
|Netherlands          |318            |
|South Korea          |308            |
|Japan                |282            |
|Brazil               |218            |
|Spain                |205            |
|Norway               |192            |
|Cuba                 |188            |
|Sweden               |181            |
|Hungary              |145            |
|Ukraine              |143            |
|Argentina            |139            |
|Romania              |123            |
|Finland              |118            |
|Belarus              |97             |
|Switzerland          |93             |
|Austria              |91             |
|Denmark              |89             |
|Croatia              |81             |
|Czech Republic       |81             |
|Poland               |80             |
|Jamaica              |80             |
|Greece               |59             |
|New Zealand          |52             |
|Kazakhstan           |42             |
|Bulgaria             |41             |
|Nigeria              |39             |
|Kenya                |39             |
|Mexico               |38             |
|Serbia and Montenegro|38             |
|Slovakia             |35             |
|Serbia               |31             |
|Lithuania            |30             |
|Ethiopia             |29             |
|Turkey               |28             |
|Azerbaijan           |25             |
|South Africa         |25             |
|Slovenia             |25             |
|Bahamas              |24             |
|Iran                 |24             |
|Georgia              |23             |
|Chile                |22             |
|Indonesia            |22             |
|North Korea          |21             |
|Chinese Taipei       |20             |
|Cameroon             |20             |
|Trinidad and Tobago  |19             |
|Uzbekistan           |19             |
|Estonia              |18             |
|Belgium              |18             |
|Thailand             |18             |
|Paraguay             |17             |
|Latvia               |17             |
|Iceland              |15             |
|Montenegro           |14             |
|Colombia             |13             |
|India                |11             |
|Morocco              |11             |
|Mongolia             |10             |
|Armenia              |10             |
|Ireland              |9              |
|Portugal             |9              |
|Egypt                |8              |
|Algeria              |8              |
|Singapore            |7              |
|Zimbabwe             |7              |
|Saudi Arabia         |6              |
|Dominican Republic   |5              |
|Moldova              |5              |
|Israel               |4              |
|Tunisia              |4              |
|Venezuela            |4              |
|Qatar                |3              |
|Tajikistan           |3              |
|Hong Kong            |3              |
|Kyrgyzstan           |3              |
|Malaysia             |3              |
|Costa Rica           |2              |
|Vietnam              |2              |
|Puerto Rico          |2              |
|Afghanistan          |2              |
|Kuwait               |2              |
|Eritrea              |1              |
|Sudan                |1              |
|Gabon                |1              |
|Sri Lanka            |1              |
|Barbados             |1              |
|Togo                 |1              |
|Panama               |1              |
|Uganda               |1              |
|Ecuador              |1              |
|Cyprus               |1              |
|Uruguay              |1              |
|United Arab Emirates |1              |
|Botswana             |1              |
|Guatemala            |1              |
|Grenada              |1              |
|Macedonia            |1              |
|Bahrain              |1              |
|Mauritius            |1              |
|Syria                |1              |
|Mozambique           |1              |
+---------------------+---------------+

In [21]:
# Filtering out the maximum age from age column and printing name and age
df.select('name','age','sports','silver_medal','year').filter(df.age == df.agg({"age":"max"}).collect()[0][0]).show()

+----------+----+----------+------------+----+
|      name| age|    sports|silver_medal|year|
+----------+----+----------+------------+----+
|Ian Millar|61.0|Equestrian|           1|2008|
+----------+----+----------+------------+----+

In [22]:
# Filtering out the maximum age from age column and printing name and country
df.select('name','country').filter(df.age == df.agg({"age":"max"}).collect()[0][0]).show()

+----------+-------+
|      name|country|
+----------+-------+
|Ian Millar| Canada|
+----------+-------+