Импортируем библиотеки присвоив им кодовые обозначения для краткости написани в дальнейшем

In [1]:
import pandas as pd
import numpy as np

Есть две основные структуры в данных в pandas:
1. Series - имеет одну размерность (контейнер для скаляров)
2. DataFrame - имеет две размерности (контейнер для Series)

Они могут быть получены из :


1.   Python dict - типа данных словарь 
2.   np.array - известного нам массива
3.   Скаляр - например типа данных список или даже единственного символа

In [2]:
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [3]:
numpy_array_from_list = np.array(my_list)
numpy_array_from_list

array([1, 2, 3, 4])

In [4]:
pd.Series(1)

0    1
dtype: int64

In [5]:
pd.Series(my_list)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
pd.Series(numpy_array_from_list)

0    1
1    2
2    3
3    4
dtype: int64

Индексы формируются автоматически путём простой нумерации, но есть возможность создать список индексов.

In [7]:
pd.Series(['А.В.С', 1, 0.4], index=['ФИО', 'Место', 'Результат'])

ФИО          А.В.С
Место            1
Результат      0.4
dtype: object

Если не будем передавать индексы, то pandas посчитает, что ключи - это индексы, а значение - это значения серии.

In [8]:
d = {'Иван': 1, 'Николай': 2, 'Борис': 3}

pd.Series(d)

Иван       1
Николай    2
Борис      3
dtype: int64

А если индексы передавать, то по этим индексам будут искаться значения в словаре.

А если такого ключа в словаре не найдется, то поставится NaN - это маркер для обозначения пропущенного объекта.

In [9]:
d = {'Иван': 1, 'Николай': 2, 'Борис': 3}

pd.Series(d, index=['Борис', 'Иван', 'Олег'])

Борис    3.0
Иван     1.0
Олег     NaN
dtype: float64

DataFrame - это двумерная структура данных, где могут содержаться колонки с разными типами данных. Это очень похоже на таблицу.

Так же как и серии, DataFrame принимает много различных типов данных для создания:
1. Dict 1D np.arrays, lists, dicts или Series
2. 2-D np.array
3. Структурированный массив
4. Список dict
4. Series
5. Другой DataFrame


Можно создать таким образом:
```
pd.DataFrame(data, index=index, columns=columns)
```

Вместе с данными `data`, можно опционально передавать индексы и колонки.


Посмотрим на некоторые виды создания DataFrame.

In [10]:
pd.DataFrame(numpy_array_from_list)

   0
0  1
1  2
2  3
3  4

In [11]:
d = {
    'Отжимание': pd.Series([1, 2, 3], index=['Иван', 'Николай', 'Борис']),
    'Приседание': pd.Series([1, 2, 3, 4, 5], 
                  index=['Роман', 'Олег', 'Борис', 'Николай', 'Иван']),
}

pd.DataFrame(d)

         Отжимание  Приседание
Борис          3.0           3
Иван           1.0           5
Николай        2.0           4
Олег           NaN           2
Роман          NaN           1

Прведём простейшие манипуляции со случайно сформированными данными. Представим себе часть дневника спортсмена целью которого является увеличение силы удара и для этого он предполагает использовать упражнения для взрывной силы ног и силы рук.

Выберем три упражнения:

1)Выпрыгивания_10_сек,

2)Отжимания в упоре лёжа

3)Удар по динамометру

Следует отметить, что данные именно случайны и не отражают подготовленности реального спортсмена.

In [12]:
data = {
    'Выпрыгивания_10_сек': [8, 9, 16, 15, 15, 17, 16, 18],
    'Отжимания': [20, 20, 25, 40, 35, 30, 29, 27],
    'Сила_удара': [250, 300, 500, 600, 630, 620, 480, 550]
}

df = pd.DataFrame(data)
df

   Выпрыгивания_10_сек  Отжимания  Сила_удара
0                    8         20         250
1                    9         20         300
2                   16         25         500
3                   15         40         600
4                   15         35         630
5                   17         30         620
6                   16         29         480
7                   18         27         550

Если датасет имеет достаточно большие размеры, то визуально проверить его не представляется возможным и для этого применяется функция info(). Здесь мы видим, что наши данные пригодны для дальнейшего анализа, нет пропущенных значений и все переменные это натуральные числа.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Выпрыгивания_10_сек  8 non-null      int64
 1   Отжимания            8 non-null      int64
 2   Сила_удара           8 non-null      int64
dtypes: int64(3)
memory usage: 320.0 bytes

Гораздо проще чем в прошлый раз мы можем получить сводку описательных статистик с помощью функции describe().

In [14]:
df.describe()

       Выпрыгивания_10_сек  Отжимания  Сила_удара
count             8.000000   8.000000    8.000000
mean             14.250000  28.250000  491.250000
std               3.693624   6.923046  144.463292
min               8.000000  20.000000  250.000000
25%              13.500000  23.750000  435.000000
50%              15.500000  28.000000  525.000000
75%              16.250000  31.250000  605.000000
max              18.000000  40.000000  630.000000

Взятие колонки из датафрейма


Чтобы взять конкрентый признак из DataFrame можно к нему обратиться через квадратные скобки [].

Возвращается знакомая структура данных - pd.Series.

In [15]:
df['Выпрыгивания_10_сек']

0     8
1     9
2    16
3    15
4    15
5    17
6    16
7    18
Name: Выпрыгивания_10_сек, dtype: int64

Также можно из DataFrame взять любое количество колонок и получится  DataFrame

In [16]:
df[['Выпрыгивания_10_сек', 'Отжимания']]

   Выпрыгивания_10_сек  Отжимания
0                    8         20
1                    9         20
2                   16         25
3                   15         40
4                   15         35
5                   17         30
6                   16         29
7                   18         27



Можем узнать, а сколько есть уникальных значений в признаке с помощью метода unique().

In [17]:
df['Выпрыгивания_10_сек'].unique()

array([ 8,  9, 16, 15, 17, 18])



А метод nunique() вернет количество, сколько таких уникальных объектов присутствует.

In [18]:
df['Выпрыгивания_10_сек'].nunique()

6

Метод value_counts() покажет сколько раз какое из значений признака повторялось в датасете.

In [19]:
df.value_counts('Выпрыгивания_10_сек')

Выпрыгивания_10_сек
15    2
16    2
8     1
9     1
17    1
18    1
dtype: int64

Мы так же можем использовать известные нам методы для нахождения наибольшего или наименьшего элемента и затем с помощью метода *loc* сделать срез и получить значения остальных признаков в этой строке.

In [20]:
idx = df['Выпрыгивания_10_сек'].argmax()

df.loc[idx]

Выпрыгивания_10_сек     18
Отжимания               27
Сила_удара             550
Name: 7, dtype: int64

Другой метод iloc позволяет сделать выбор по индексу датафрейма. Можно указать начало и конец выборки или только начало или только окончание.

In [21]:
df.iloc[1:4]

   Выпрыгивания_10_сек  Отжимания  Сила_удара
1                    9         20         300
2                   16         25         500
3                   15         40         600

Pandas позволяет выбирать данные, фильтровать данные большим количеством способов используя различные логические выражения. Здесь мы выбрали те данные где значения признака строго меньше 16.

In [22]:
df[df['Выпрыгивания_10_сек'] < 16]

   Выпрыгивания_10_сек  Отжимания  Сила_удара
0                    8         20         250
1                    9         20         300
3                   15         40         600
4                   15         35         630

Так же мы можем произвести корреляционный анализ получив данные в более удобном для дальнейшей работы виде.

In [23]:
df.corr()

                     Выпрыгивания_10_сек  Отжимания  Сила_удара
Выпрыгивания_10_сек             1.000000   0.583806    0.874797
Отжимания                       0.583806   1.000000    0.842394
Сила_удара                      0.874797   0.842394    1.000000

Корреляционные коэффициенты могут быть рассчитаны по методам Пирсона, Кендела и Спирмена (‘pearson’, ‘kendall’, ‘spearman’). По умолчанию используется метод Пирсона.

In [24]:
df.corr(method='kendall')

                     Выпрыгивания_10_сек  Отжимания  Сила_удара
Выпрыгивания_10_сек             1.000000   0.188713    0.370625
Отжимания                       0.188713   1.000000    0.691023
Сила_удара                      0.370625   0.691023    1.000000

Можно создавать новые признаки и изменять их значения, что бывает важным для взаимоперевода численных и категориальных переменных. Сейчас создадим категориальную переменную результат и предадим ей значение «сильно» - если результат больше 500 и «слабо», если нет.

In [33]:
df['Результат'] = "слабо"
df.head()

   Выпрыгивания_10_сек  Отжимания  Сила_удара Результат
0                    8         20         250     слабо
1                    9         20         300     слабо
2                   16         25         500     слабо
3                   15         40         600     слабо
4                   15         35         630     слабо

In [34]:
condition = (df['Сила_удара'] > 500)
df.loc[condition, 'Результат'] = "сильно"
df.head()

   Выпрыгивания_10_сек  Отжимания  Сила_удара Результат
0                    8         20         250     слабо
1                    9         20         300     слабо
2                   16         25         500     слабо
3                   15         40         600    сильно
4                   15         35         630    сильно

Большие возможности для анализа данных создают сводные таблицы, которые можно агрегировать по большому спектру функций. В этом примере можно заметить, что при слабом различии по стандартной ошибке наличествует большое различие в среднем арифметическом и медиане. На основе этого можно вводить норматив отжимания более 33 раз при поставленной цели достичь сильного удара.

In [35]:
agg_func_math = {
    'Отжимания': ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'mad', 'prod']
}
df.groupby(['Результат']).agg(agg_func_math).round(2)

          Отжимания
                sum  mean median min max   std    var  mad     prod
Результат
сильно          132  33.0   32.5  27  40  5.72  32.67  4.5  1134000
слабо            94  23.5   22.5  20  29  4.36  19.00  3.5   290000

На этом возможности библиотеки далеко не исчерпываются и можно обратиться к более глубокому исследованию её возможностей, как например https://www.programmer-books.com/wp-content/uploads/2019/04/Python-for-Data-Analysis-2nd-Edition.pdf